# IDE/Editor files
.idea
.ensime
.ensime_cache/
scorex.yaml

# scala build folders and files
target
*.tgz
*.jar

# dotfiles
.dockerignore
.editorconfig

# logs
scorex.log
scorex-errors.log
scorex-*.log
*.log

# local settings
localsettings.json

# Text files
*.txt
*.ods
*.csv
*.dat

# Packages
package/
