<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
          <pattern>>> %d{HH:mm:ss.SSS} [%-5level] %msg%n</pattern>
        </encoder>
    </appender>

  <root level="info">
    <appender-ref ref="CONSOLE" />
  </root>

</configuration>
