<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <shutdownHook/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${logback.file.level:-TRACE}</level>
        </filter>
        <file>${waves.it.logging.dir:-target/logs}/test.log</file>
        <append>false</append>
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} %-5level [%.25thread] %logger{26} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.asynchttpclient" level="INFO"/>
    <logger name="io.netty" level="INFO"/>

    <root level="TRACE">
        <appender-ref ref="FILE"/>
    </root>
</configuration>
