name: Build docker images for node

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '11'

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Cache SBT
        uses: actions/cache@v3
        with:
          path: ~/.sbt
          key: sbt-cache-${{ hashFiles('project/build.properties') }}

      - name: Cache Coursier
        uses: actions/cache@v3
        with:
          path: ~/.cache/coursier
          key: coursier-cache

      - name: Build sources
        run: |
          sbt --mem 2048 -J-XX:+UseG1GC -Dcoursier.cache=~/.cache/coursier -Dsbt.boot.directory=~/.sbt buildTarballsForDocker

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v2

      - name: Log into Docker Hub registry
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Extract Docker public node metadata
        id: meta-public
        uses: docker/metadata-action@v4
        with:
          images: wavesplatform/wavesnode
          flavor: |
            latest=false
          tags: |
            type=match,pattern=v(.*),group=1
            type=raw,value=latest,enable=${{ github.event.release.prerelease == false }}

      - name: Extract Docker private node metadata
        id: meta-private
        uses: docker/metadata-action@v4
        with:
          images: wavesplatform/waves-private-node
          flavor: |
            latest=false
          tags: |
            type=ref,event=tag
            type=raw,value=latest,enable=${{ github.event.release.prerelease == false }}

      - name: Extract Docker RIDE runner metadata
        id: meta-ride-runner
        uses: docker/metadata-action@v4
        with:
          images: wavesplatform/ride-runner
          flavor: |
            latest=false
          tags: |
            type=match,pattern=v(.*),group=1
            type=raw,value=latest,enable=${{ github.event.release.prerelease == false }}

      - name: Build and push Docker public image
        id: build-and-push-public
        uses: docker/build-push-action@v3
        with:
          context: ./docker
          push: true
          pull: true
          tags: ${{ steps.meta-public.outputs.tags }}

      - name: Build and push Docker private image
        id: build-and-push-private
        uses: docker/build-push-action@v3
        with:
          context: ./docker/private
          push: true
          pull: true
          tags: ${{ steps.meta-private.outputs.tags }}
          build-args: |
            NODE_TAG=${{ steps.meta-public.outputs.version }}

      - name: Build and push Docker RIDE runner image
        id: build-and-push-ride-runner
        uses: docker/build-push-action@v3
        with:
          context: ./ride-runner/docker
          push: true
          pull: true
          tags: ${{ steps.meta-ride-runner.outputs.tags }}
